<div class="banner-comment-user">
    <span class="banner-comment-user__name">{{name}}</span>
    <span class="banner-comment-user__place">{{place}}</span>
    <div class="banner-comment-user__comment">{{feedback}}</div>
</div>